@import "tailwindcss";


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;  /* vertical scrollbar ko hatane ke liye */
  height: 0px; /* horizontal scrollbar ko hatane ke liye */
}

/* Firefox */
* {
  scrollbar-width: none; /* scrollbar ko disable karega */
  -ms-overflow-style: none; /* IE/Edge ke liye */
}